.notification {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  height: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;

  .title {
    display: flex;
    align-items: center;

    div {
      width: 20px;
      height: 20px;
      border-radius: 100%;
    }

    h4 {
      margin-left: 10px;
      font-size: 17px;
      font-weight: 500;
      color: #000;
    }
  }

  p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
  }
}
