.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2rem 0;
  gap: 2rem;

  .messages_icon {
    position: absolute;
    bottom: 20px;
    right: 40px;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5755c4;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;

    svg {
      width: 60%;
      height: 60%;
    }

    .new_messages_count {
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f51717;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      right: -3px;
    }
  }

  .stories_module {
    width: 100%;
    height: 100%;
    background: #00000059;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    .exit {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 40px;
      top: 20px;
      cursor: pointer;
    }

    @media (max-width:500px) {
      .exit {
        right: 10px;
        top: 10px;
      }
    }

    @media (max-width:370px) {
      .exit {
        right: 5px;
        top: 0px;
      }
    }
  }

  .stories {
    width: 78%;
    min-height: 200px;
    max-height: 400px;
    overflow-x: auto;
    padding: 0 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      min-width: 100px;
      max-width: 200px;
      background-color: black;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

  }

  .cards {
    padding: 0 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
  }

  .beta {
    text-align: center;
    background-color: #dedeff;
    color: #5755c4;
    margin: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;

    b {
      color: #5755c4;
    }

    p {
      font-size: 5px;
    }

    a {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  h1 {
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .articles {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 50%;
    max-width: 800px;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: center;

    .artic {
      width: 270px;
      height: 280px;
    }

    // @media screen and (min-width: 800px) {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    // }
  }

  @media screen and (min-width: 800px) {
    .stories {
      .card {
        min-width: 10rem;
      }
    }


    .cards {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;

      a {
        width: 25%;
      }
    }
  }

  @media (max-width:800px) {
    .messages_icon {
      right: 25px;
      bottom: 80px;
    }

    .articles {
      width: 60%;
    }
  }

  @media (max-width:650px) {

    .articles {
      width: 70%;
    }
  }

  @media (max-width:450px) {

    .articles {
      width: 80%;
    }
  }

}