.profile {
  width: min(100%, 1000px);
  margin-inline: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.profile .userCard {
  grid-row: span 2;
  display: flex;
  gap: 1rem;
}
.profile .userCard .avatar {
  min-width: 115px;
  min-height: 115px;
  border-radius: 100%;
  background: rgb(206, 119, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.2);
}
.profile .userCard .avatar img {
  width: 50%;
  height: auto;
}
.profile .userCard .userInformation {
  margin-left: 1rem;
}
.profile .userCard .userInformation h1 {
  font-size: 22px;
  font-weight: 600;
}
.profile .parameters {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile .parameters li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.profile .parameters li img {
  width: 28px;
  height: auto;
}
.profile .parameters li p {
  margin-left: 10px;
  font-size: 18px;
}
.profile .cards {
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.profile .housing h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -20px;
  text-align: center;
}
.profile .housing .cards {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 800px) {
  .profile .housing .cards {
    width: 50%;
  }
}
.profile .compatibility h4 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
}
.profile .profileLinksList h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.profile .profileLinksList ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.profile .profileLinksList ul li {
  display: flex;
  align-items: center;
}
.profile .profileLinksList ul li div {
  display: flex;
  position: relative;
}
.profile .profileLinksList ul li div .new_messages_count {
  width: 23px;
  height: 23px;
  background: #f51717;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 90%;
}
.profile .profileLinksList ul li p {
  margin-left: 1rem;
  font-size: 20px;
}
.profile .profileLinksList ul li svg {
  width: 35px;
  height: auto;
}
.profile .flats h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.profile .flats a {
  margin-top: 0;
}
.profile .flats p {
  text-align: center;
}
.profile .flats .button {
  font-family: inherit;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  color: var(--backgroundColor);
  font-weight: 600;
  cursor: pointer;
}
.profile .usersCols {
  margin-bottom: 10px;
}
.profile .usersCols h4 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.profile .buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.profile .buttons button {
  padding: 10px 25px;
  border-radius: 30px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.5411764706);
  background: var(--backgroundColor);
  box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 800px) {
  .profile .general {
    display: grid;
    grid-template-columns: 1fr 30%;
  }
  .profile .general .userCard .avatar {
    height: 100%;
    width: unset;
    aspect-ratio: 1/1;
  }
  .profile .general .userCard .userInformation {
    font-size: 1.5rem;
  }
  .profile .general .userCard .userInformation h1 {
    font-size: 2rem;
  }
  .profile .cards {
    display: flex;
    justify-content: space-between;
  }
  .profile .cards a {
    width: 25%;
  }
  .profile .compatibility {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profile .compatibility .diagram {
    grid-row: span 2;
  }
  .profile .compatibility h4 {
    align-self: flex-end;
    font-size: 1.5rem;
  }
  .profile .compatibility .button {
    width: 60%;
    margin-inline: auto;
    align-self: start;
  }
  .profile .profileLinksList h4 {
    font-size: 2rem;
  }
  .profile .profileLinksList ul {
    margin: 3rem 0;
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .profile .profileLinksList .button {
    width: 50%;
    margin-inline: auto;
  }
}/*# sourceMappingURL=styles.module.css.map */