.animals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;

  h1 {
    font-size: 17px;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .list {
      margin-top: 15px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      @media(min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media(min-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
      }

      div {
        margin-top: 8px;
        width: 98%;
        height: max-content;
        padding: 10px 10px;
        background: #FFF;
        border-radius: 5px;

        * {
          color: #000;
        }

        .name {
          display: flex;
          align-items: center;

          h3 {
            margin-left: 10px;
          }
        }

        .blocks {
          margin-top: 5px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          position: relative;
          left: -5px;

          h4 {
            font-size: 14px;
            padding: 6px 15px;
            border-radius: 20px;
            border: 1px solid #000;
            margin-left: 5px;
          }
        }
      }
    }
  }
}